<div class="password-profile-card">
    <div class="password-card-title">重置密码</div>
    <form class="password-profile-form" name="passwordForm" novalidate>
        <table class="password-profile-table">
            <tr>
                <td class="password-profile-table-title">新密码:</td>
                <td class="password-profile-table-value">
                    <input class="password-profile-table-input" name="newPassword" ng-model="newPassword"
                           ng-pattern="/^[0-9_a-zA-Z]{6,16}$/" type="password" placeholder="6-16位英文字母或数字" required
                           ng-focus>
                    <span class="password-error-mark" ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid">*</span>
                </td>
            </tr>
            <tr>
                <td class="password-profile-table-title">确认密码:</td>
                <td class="password-profile-table-value">
                    <input class="password-profile-table-input" name="confirmPassword" ng-model="confirmPassword"
                           ng-pattern="/^[0-9_a-zA-Z]{6,16}$/" type="password" placeholder="6-16位英文字母或数字" required
                           ng-focus>
                    <span class="password-error-mark" ng-show="passwordForm.confirmPassword.$dirty && (passwordForm.confirmPassword.$invalid || (newPassword != confirmPassword))">*</span>
                </td>
            </tr>
        </table>
        <input ng-click="submitChange()" class="password-submit-button" type="button" ng-disabled="passwordForm.$invalid || (newPassword != confirmPassword)" value="确认修改">
    </form>
        <span class="password-error-message"
              ng-show="(passwordForm.newPassword.$dirty && passwordForm.newPassword.$error.required) && (passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$error.required)">密码不得为空！</span>
        <span class="password-error-message"
              ng-show="(passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid && !passwordForm.newPassword.$error.required)">密码格式错误！</span>
        <span class="password-error-message"
              ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$valid && passwordForm.confirmPassword.$valid && (newPassword != confirmPassword)">两次密码输入不一致！</span>

</div>
