/* The footer */


.footer {
	font-family: "Microsoft YaHei UI";
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:25px;
    width:350px;
    text-align: center;
    font-size: 14px;
    color:rgb(132,132,132);
}

.footer-link {
	font-family: "Microsoft YaHei UI";
    text-decoration: none;
    color:rgb(132,132,132);
}

.footer-link:hover {
    cursor: pointer;
    color: #dc745b;
    text-decoration: underline;
}